.hero {
  display: flex;
  width: 80%;
  margin: 5rem auto;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  flex-basis: 48%;
}

.hero-text-details {
  display: grid;
  row-gap: 1rem;
}

.main-hero-text {
  margin-top: 1rem;
}

.hero-message {
  margin-bottom: 4rem;
}

.hero-message h1 {
  width: 9ch;
  font-size: var(--font-5xl);
  line-height: 1;
  color: var(--heading);
  margin-bottom: 1rem;
}

.hero-message p {
  font-size: var(--font-md);
}

.hero-img {
  flex-basis: 40%;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-svg {
  width: 350px;
  fill: var(--primary600);
}

body.dark .hero-svg {
  fill: var(--primary400);
}

.hero-svg-img {
  width: 80px;
}

@media all and (max-width: 768px) {
  .hero-message h1 {
    font-size: var(--font-4xl);
  }
}

@media all and (max-width: 568px) {
  .hero {
    width: 90%;
    flex-direction: column;
    gap: 2rem;
  }

  .hero-text-details {
    width: 70%;
  }

  .hero-message h1 {
    font-size: var(--font-3xl);
  }
}

@media all and (min-width: 1400px) {
  .hero-svg {
    width: 500px;
  }
}
