@media all and (max-width: 768px) {
  nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: var(--white);
    transition: left 0.3s ease-in;
  }

  body.dark nav {
    background: var(--background1);
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .nav--close-btn {
    position: absolute;
    top: 15%;
    right: 20%;
    font-size: 3rem;
  }
}

@media all and (max-width: 568px) {
  .nav--close-btn {
    top: 6rem;
    right: 4rem;
  }
}
