.contact-btn {
  padding: 1.2rem 2.5rem;
  border-radius: 10px;
  background: var(--secondary700);
  color: var(--white);
  font-size: var(--font-md);
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.contact-btn:hover {
  background: var(--secondary600);
}

body.dark .contact-btn {
  color: var(--primary800);
  background: var(--secondary300);
}

body.dark .contact-btn:hover {
  background: var(--secondary600);
}

@media all and (max-width) {
  .contact-btn {
    font-size: var(--font-base);
  }
}
